<div class="container">
  <form #personForm="ngForm" (ngSubmit)="handleSubmit(personForm.value)">
    <div>
      <label>First Name</label>
      <input type="text" name="firstName" [(ngModel)]="firstName" />

      <label>Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="lastName" />

      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="email" />

      <label>Gender</label>
      <input type="radio" name="gender" value="male" [(ngModel)]="gender" />Male
      <input
        type="radio"
        name="gender"
        value="female"
        [(ngModel)]="gender"
      />Female
    </div>

    <div ngModelGroup="address">
      <label>Street</label>
      <input type="text" name="street" [(ngModel)]="street" />
      <label>City</label>
      <input type="text" name="city" [(ngModel)]="city" />
      <label>Country</label>
      <select name="country" [(ngModel)]="country">
        <option value="usa">USA</option>
        <option value="japan">Japan</option>
        <option value="philippines">Philippines</option>
      </select>
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
</div>
