<h1>{{ title }}</h1>
<h1>{{ title | titlecase }}</h1>
<h1>{{ title | uppercase }}</h1>
<h1>{{ title | lowercase }}</h1>

<hr />

<h1>{{ myDate | date: "dd-MM-yyyy" }}</h1>
<h1>{{ myDate | date: "shortDate" }}</h1>

<hr />

<h1>{{ myMoney | currency: "JPY" }}</h1>

<hr />

<h1>{{ myObj | json }}</h1>

<hr />

<h1>{{ myNumber | number: "5.2-3" }}</h1>

<hr />

<h1>{{ stock | percent: "3.1-2" }}</h1>

<hr />
<h1>{{ numbers | slice: 2:4 }}</h1>
<b *ngFor="let v of numbers | slice: 2">{{ v }}</b>

<hr />

<h1>{{ promiseResponse }}</h1>

<h1>{{ promise | async }}</h1>

<hr />

<h1>{{ "Open the nExt." | reversepipe }}</h1>
